[user]
    name = Mateusz Dąbrowski
	email = github@mateuszdabrowski.pl
    username = md
[core]
    editor = code --wait
    excludesfile = /Users/md/.gitignore_global
    pager = cat
[web]
    browser = google-chrome
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[commit]
	template = /Users/md/.stCommitMsg
    verbose = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[credential]
	helper = osxkeychain
